.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    padding-top: 10px;
}

.item-wrapper{
    width: 45%;
}