<h1>Reactive forms</h1>
<form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
	<div class="form-wrapper">

		<div class="input">
			<label for="card_number">Card number:</label>
			<input type="text" formControlName="card_number">
			<br />
		</div>

		<div class="input">
			<label for="cardholder_name">Cardholder name:</label>
			<input type="text"  formControlName="cardholder_name">
			<br />
		</div>

		<div class="input">
			<label for="csc_code">CSC:</label>
			<input type="text" formControlName="csc_code">
			<br />
		</div>

		<div class="input">
			<label for="expiration_date">Expiration date:*</label>
			<input type="month" formControlName="expiration_date">
			<br />
		</div>

		<div class="input">
			<label for="issuer">Issuer:</label>
			<input type="text" formControlName="issuer">
			<br />
		</div>

		<hr />
		<button type="submit">Submit</button>
    </div>
</form>
