.app-layout{
width: 100%;
    /* flex-direction: row; */
    
    /* justify-content: center; */
    
}

.app-content{
    display: flex;
    flex-direction: row;
    
}

.app-router{
    width: 70%;
    min-height: 500px;
    padding: 20px;
    background-color: #ffeec3;
}

.filler-left{
    width: 15%;
    background-color: #ee3253;
}

.filler-right{
    width: 15%;
    background-color: #ee3253;
}

header, footer{
    display: flex;
    justify-content: center;
    background-color:#FFE11D;
}

footer{
    background-color: #302E3c;
    display: flex;
    flex-direction: row;
}

.feet{
    height: 10%;
    background-color:#844d38 ;
}