<div class="container">
    <div class="info-field" >
        <label for="cardholder">Cardholder name:</label>
        <!-- <input ng-model="creditCard.cardholder_name"> -->
        <b id="cardholder">{{creditCard.cardholder_name}}</b>
    </div>

    <div class="info-field">
        <label for="cardNumber">Card number:</label>
        <b>{{creditCard.card_number}}</b>
    </div>

    <div class="info-field">
        <label for="csc">CSC code:</label>
        <b>{{creditCard.csc_code}}</b>
    </div>

    <div class="info-field">
        <label for="expiration">Expiration date:* </label>
        <b>{{creditCard.expiration_date_month}} / {{creditCard.expiration_date_year}}</b>
    </div>

    <div class="info-field">
        <label for="issuer">Card Issuer: </label>
        <b>{{creditCard.issuer}}</b>
    </div>
</div>

<div class="dltButton">
    <button class="btn btn-primary" (click)="deleteCard(creditCard)">
        Delete creditcard
    </button>
</div>

<h2>Transactions </h2>

<div class="title-container">
    <div class="item">
        Date
    </div>
    <div class="item">
        Amount
    </div>
    <div class="item">
        Currency
    </div>
    <div class="item">
        Comment
    </div>
</div>
<div *ngIf="transactionList">
    <div class="title-container" *ngFor="let transaction of transactionList">
        <div class="item">
            {{transaction.date | date}}
        </div>
        <div class="item">
            {{transaction.amount | number:'1.1-2'}}
        </div>
        <div class="item">
            {{transaction.currency}}
        </div>
        <div class="item">
            {{transaction.comment}}
        </div>
    </div>

</div>
<!-- <div *ngIf="cardList">
    <div *ngFor="let card of cardList">
        <app-credit-card-list-item [creditCard]="card"> </app-credit-card-list-item>
    </div>
</div> -->


