.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    padding-top: 10px;
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item{
    display: flex;
    width: 30%;
}

.dltButton {
    margin-top: 10px;
    margin-bottom: 30px;
}