<div>
    <div class="info-field">
        <label for="cardholder">Cardholder name:</label>
        <input type="text" class="cardholder">
    </div>

    <div class="info-field">
        <label for="cardNumber">Card number:</label>
        <input type="text" class="cardNumber">
    </div>

    <div class="info-field">
        <label for="csc">CSC code:</label>
        <input type="text" class="csc">
    </div>

    <div class="info-field">
        <label for="expiration">Expiration date:* </label>
        <input type="text" class="expiration">
    </div>

    <div class="info-field">
        <label for="issuer">Card Issuer: </label>
        <input type="text" class="issuer">
    </div>
</div>

<div class="dltButton">
    <button class="btn btn-primary">
        Delete creditcard
    </button>
</div>


