.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.item{
    font-size: 25px;
    width: 30%;
}
.addButton {
    margin-left: 10px;
}