.bar{
    /* background-color: ; */
    background-color: #FFE11D;
    width: 100%;
    /* padding-left: 15%; */
    height: 40px;
    
}

.bar-content{
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    height: 40px;
}

a{
    display: flex;
    text-decoration: none;
    margin: 5px 20px;
    align-self: center;
}

